{% load static %}
<footer>
    <div class="footer-container-2">
        <div class="footer-box-2">
            <h1 class="explore">Explore More about us </h1>
        </div>
    </div>


    <nav>
        <ul class="nav-links-2">
            <li><a href="{% url 'home'%}"> Home </a></li>
            <li><a href="{% url 'services'%}"> Services </a></li>
            <li><a href="{% url 'about'%}"> About Us </a></li>
            <li><a href="{% url 'contact'%}"> Contact Us </a></li>
            <li><a href="{% url 'contact'%}"> Want to join our team? </a></li>
            <p>Copyright &#169; 2024 Shree.All Rights Reserved</p>
        </ul>
    </nav>
</footer>