{% extends 'base.html' %}
{% load static %}
{% block content %}

<div>
    <div class="banner-container">
        <h1 class="banner-text">
            Dedicated to the Silent Sufferers <br>
            Your One-Stop Emergency Vet Service
        </h1>
        <!-- <img class="banner" src="{% static 'assets/feeding-dogs.jpg' %}" alt="street-cows"> -->
        <video class="banner-video" autoplay muted loop>
            <source src="{% static 'assets/doctor-holding-dog.mp4' %}" type="video/mp4">
            <!-- <source src="{% static 'assets/street-cows (1080p).mp4' %}" type="video/mp4"> -->
            Your browser does not support the video tag.
        </video>

    </div>
</div>
<div class="footer-container-3">
    <div class="footer-box-3">
        <h1> Call Us on 9862919787 For Emergency Help </h1>
    </div>
</div>

<!-- <button>Together, lets make a difference </button> -->
<!-- <p>Quotes</p> -->
<div class="message-pic-container">
    <div class="quote-pic-1">
        <img src="{% static 'assets/homeless-cute-brown-dog.jpg' %}" alt="quote-pic">
    </div>
    <div class="quote-container-1">
        <div class="quote-symbol-1">❝</div>
        <p>Welcome to "HOPE", a compassionate online platform dedicated to the well-being and rescue of street animals.
            At the heart of our mission is a commitment to making a positive impact on the lives of our furry friends
            who often go unnoticed and underserved.
        </p>
        <div class="quote-symbol-2"> ❞ </div>
    </div>
    <div class="quote-container-2">
        <div class="quote-symbol-3"> ❝ </div>
        <!-- <p> Emergency Vet Services for street animals <br>
            Hope for the Voiceless: Emergency Vet Services</p> -->
        <p>At "HOPE", we believe that every animal deserves love, dignity, and quality healthcare, regardless of their
            circumstances. With this belief at the core of our organization, we have assembled a dedicated
            team of veterinarians, animal welfare experts, and compassionate volunteers who work tirelessly to make a
            difference in the lives of street animals.</p>
        <div class="quote-symbol-4"> ❞ </div>
    </div>

    <div class="quote-pic-2">
        <img src="{% static 'assets/Human-helping-dogs.jpg' %}" alt="Human-helping-dogs.jpg">
    </div>
</div>


<div class="footer-container">
    <div class="footer-box">
        <center>
            <h1> Browse Some Articles </h1>
        </center>
    </div>
</div>

<section id="Latest Articles">
    <!-- <div class="article-topic">
        <center>
            <h1> Browse Some Articles </h1>
        </center> -->
    <div class="article-container">
        <div class="article-container-1">
            <div class="article-1">
                <img src="{% static 'assets/article-1.jpg' %}" alt="street cows sitting in road">
                <h2 class="headiline">Managing stray animals in Nepal</h2>
                <p class="description">Socially and politically, the issue of stray animals has become a part of a
                    big
                    debate today.But still no organization or government has taken any effective steps regarding the
                    issue.</p>
                <center>
                    <button class="read-more">
                        <a href='https://myrepublica.nagariknetwork.com/news/managing-stray-domestic-animals/'
                            target="_blank">Read More
                        </a>
                    </button>
                </center>
            </div>
        </div>

        <div class="article-container-2">
            <div class="article-2">
                <img src="{% static 'assets/article-2.jpg' %}" alt="street cows sitting in road">
                <h2 class="headiline">Kathmandu’s street-smart dogs</h2>
                <p class="description">It is that time of the year again when we Nepalis worship various members of
                    the
                    animal kingdom. Cows and crows, bulls and dogs — all have a day this week dedicated to them.</p>
                <center>
                    <button class="read-more">
                        <a href='https://nepalitimes.com/here-now/kathmandu-s-street-smart-dogs'" target ='_blank'>Read
                        More 
                    </a>
                    </button>
                </center>
            </div>
        </div>
        <div class=" article-container-3">
                            <div class="article-3">
                                <img src="{% static 'assets/article-3.jpg' %}" alt="street dogs sitting in road">
                                <h2 class="headiline">Showing Humanity Toward Street Dogs</h2>
                                <p class="description">While human health is vital, it is also critical to consider
                                    animal welfare and
                                    apply dog population management techniques that do not cause these species
                                    unnecessary discomfort.
                                </p>
                                <center>
                                    <button class="read-more">
                                        <a href='https://myrepublica.nagariknetwork.com/news/showing-humanity-toward-street-dogs/'
                                            target="
                                            _blank">Read More </a>
                                    </button>
                                </center>
                            </div>
            </div>
        </div>

    </div>


</section>
<!-- Services -->
<div class="services-container">
    <div class="services-box">
        <center>
            <h1> Our Services </h1>
        </center>
    </div>
</div>
<section class="services">


    <div class="our-services-container">
        <div class="our-service">
            <div class="aid-service">
                <img src="{% static '/assets/vecteezy_nurse.png' %}" alt="">
                <button class="services-btn-1">
                    Doctors
                </button>
            </div>

            <div class="seven-services">
                <img src="{% static '/assets/vecteezy_support-icon.png' %}" alt="">
                <button class="services-btn-2">
                    24/7 Ready To Help
                </button>

            </div>

            <div class="ambulance-service">
                <img src="{% static '/assets/ambulance-svgrepo-com.png' %}" alt="">
                <button class="services-btn-3">
                    Emergency Ambulance Service
                </button>
            </div>

        </div>
    </div>

</section>



<footer>
    <div class="footer-container-2">
        <div class="footer-box-2">
            <h1 class="explore">Explore More about us </h1>
        </div>
    </div>
    <nav>
        <ul class="nav-links-2">
            <li><a href="{% url 'home'%}"> Home </a></li>
            <li><a href="{% url 'about'%}"> About Us </a></li>
            <li><a href="{% url 'contact'%}"> Contact Us </a></li>
            <li class="nav-signin"><a href="{% url 'signup' %}"> Want to join our team? </a></li>
            <p>Copyright &#169; 2024 Shree.All Rights Reserved</p>
        </ul>

    </nav>
</footer>



{% endblock %}