{% load static %}
<header>
    <nav>
        <div class="logo"> <a href="{% url 'home' %}">
                <img src="{% static 'assets/logo-color.png' %}" alt="Hope Logo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'home'%}"> Home </a></li>
            <li><a href="{% url 'about'%}"> About Us </a></li>
            <li><a href="{% url 'contact'%}"> Contact Us </a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'signin' %}">Logout</a></li>
            {% else %}
            <li class="nav-signin"><a href="{% url 'signup' %}"> Want to join our team? </a></li>
            {% endif %}
        </ul>
        <form class="header__search" method="GET" action="{% url 'home' %}">
            <label>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>search</title>
                    <path
                        d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
                    </path>
                </svg>
                <input name="q" placeholder="Search for posts..." />
            </label>
        </form>

    </nav>
</header>

<!-- social buttons  -->
<div class="social-links-container">
    <div class="social-links">
        <div class="social-icons">
            <a href="https://www.facebook.com/"> <img src="{% static 'assets/facebook_icon.png' %}" alt=""> </a>
            <a href="https://www.linkedin.com/"> <img src="{% static 'assets/linkedin_icon.png' %}" alt=""> </a>
            <a href="https://www.instagram.com/"> <img src="{% static 'assets/instagram_icon.png' %}" alt=""> </a>
            <a href="https://www.whatsapp.com/"> <img src="{% static 'assets/whatsapp_icon.png' %}" alt=""> </a>
        </div>

    </div>
</div>